<!doctype html>
<html lang="en">
<head>

  <!-- Webpage Title -->
  <title>Hello, world!</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    
    function update(){

      let rank = $('#rank').val();
      let title = $('#title').val();
      let artist = $('#artist').val();

      $.ajax({
        type: "POST",
        url: "/api/update",
        data: {rank_give:rank,title_give:title,artist_give:artist},
        success: function(response){
          alert('잘 저장됐습니다!');
        }
      })
    }

  </script>

</head>
<body>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">rank</span>
    </div>
    <input id="rank" type="text" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">title</span>
    </div>
    <input id="title" type="text" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">artist</span>
    </div>
    <input id="artist" type="text" class="form-control">
  </div>
  <button onclick="update()" type="button" class="btn btn-primary">업데이트하기</button>
</body>
</html>